[submodule "cv_camera"]
	path = src/cv_camera
	url = https://github.com/OTL/cv_camera.git

[submodule "caffe"]
	path = src/ssd/caffe
	url = https://github.com/weiliu89/caffe.git
	branch = ssd
[submodule "src/cv_camera"]
	path = src/cv_camera
	url = https://github.com/OTL/cv_camera
	branch = master
[submodule "src/realsense_person"]
	path = src/realsense_person
	url = https://github.com/IntelEuclid/realsense_person.git
	branch = master
