<launch>
    <arg name="camera-path" default="/dev/fisheye-camera" doc="The path of video device to use to capture images."/>
    <arg name="commu-ip" doc="The IP address of the CommU robot"/>
    <arg name="commu-port" default="6019" doc="The port of the CommUManager server on the CommU"/>
    <arg name="debug" default="False" doc="Whether to start the commu_wrapper node in debug mode."/>

    <param name="/cv_camera/device_path" value="$(arg camera-path)"/>

    <machine name="euclid" address="euclid" env-loader="/home/euclid/catkin_ws/devel/env.sh" default="never" user="euclid" password="euclid"/>

    <!-- Prevent caffe from printing massive amounts of useless info. -->
    <env name="GLOG_minloglevel" value="2"/>

    <node name="cv_camera" pkg="cv_camera" type="cv_camera_node"/>
    <node name="ssd_node" pkg="ssd" type="ssd_node.py"/>
    <node name="commu_wrapper_node" pkg="commu_wrapper" type="commu_wrapper_node.py" args="-i $(arg commu-ip) -p $(arg commu-port) -d $(arg debug)"/>
    <node name="button_input_node" pkg="button_input" type="button_input_node.py" output="screen"/>
    <node name="look_helper_node" pkg="look_helper" type="look_helper_node.py" machine="euclid"/>
    <node name="dialogue_node" pkg="dialogue" type="dialogue_node.py"/>

</launch>
